<h1>LOGIN</h1>
<form action = '/login', method='POST'>
  <div>
    <label name = 'name'>NAME</label>
    <input name = 'name', required>
    <label name="password">PASSWORD</label>
    <input type="password" name="password" required>
  </div>
<button>LOGIN</button>
</form>

