<h1>REGISTER</h1>
<form action = '/register', method = 'POST'>
  <div>
    <label name = 'name'>NAME:</label>
    <input name = 'name', required>
    <br>
    <label name = 'email'>EMAIL:</label>
    <input type="email" name="email" required>
    <br>
    <label name="password" >PASSWORD:</label>
    <input type="password" name="password" required>
    <br>
    <label name='age'>AGE:</label>
    <input name='age', required>
    <br>
    <label name='sports'>SPORTS:</label>
    <input name='sports' required>
    <br>
  </div>
<button>REGISTER</button>
</form>

