<h1>upload your image</h1>
<form action = '/upload' method = 'POST'>
  <div>
    <input type = 'radio' name = 'player' value= 'dhoni' >dhoni<br>
    <input type = 'radio' name = 'player' value = 'rohit'>rohit<br>
    <input type = 'radio' name = 'player' value = 'kholi'>kholi<br>
    <input type = 'radio' name = 'player' value = 'sangakkara'>sangakkara<br>
    <button>upload</button>
  </div>
</form>
